Package: chatops
Version: CHANGEME
Section: development
Priority: optional
Architecture: CHANGEME
Maintainer: 7977860+hangxie@users.noreply.github.com
Depends: adduser
Description: ChatOps bot and tooling, for change log visit https://github.com/hangxie/chatops/releases
